body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 115%;
  margin: 0;
  background-color: #f3f3f3;
}

header {
  background-color: #1f2937;
  padding: 16px;
}

nav {
  background-color: #374151;
  padding: 10px;
}

main {
  background-color: #ffffff;
  font-size: 110%;
  padding: 16px;
}

footer {
  background-color: #111827;
  padding: 16px;
}

li {
  display: inline-block;
  width: 220px;
}

h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", serif;
  color: white;
  margin: 0 0 10px 0;
}

p {
  line-height: 1.6;
}
